*{
    margin: 0;
    padding: 0;
    font-family:'popins',sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
body{
    background-color: rgb(243, 238, 238);
}

.header{
    border: none;
    width:1290px ;
    height: 100px;
    position: fixed;
    top : -17px ;
    z-index: 1;
    
   


}

.navbar1 ,.navbar2{
    display: inline-block ;
    

   
    
}

.navbar1{
    border: none;
    width: 295px;
    height: 100px;
    position: relative;
    left: 5px;
    background-color:white;

    
   
  
    
   
}

.navbar2{
    border: none;
    width: 980px ;
    height:100px ;
    background-color:rgba(6,147,227,1);
    position: relative;
    top:-85px;
    font-family: "Signika", Sans-serif;
    text-decoration: none;

    
  

}

.newlogo{
    width: 300px;
    height: 100px;
}

.navbar2 ul {
    display: inline-flex;
    list-style: none;
    font-family: "Signika", Sans-serif;
    font: bold;
   
}
.navbar2 ul li {
    position: relative;
    left: -400px;
    top: 30px;
    font-size: large;
   
    
}.navbar2 ul li a{
    margin:50px;
    
    position: relative;
   
    top:10px ;
    left:500px;
   
}
.navbar2 ul li a  :visited{
    color: blueviolet;

}
.navbar2 ul li a :hover{
    color: black;

}
.navbar2 ul li a :active {
    color: red;
}


.navbar2 a {
   color:white;
    font-size: large;
    position: relative;
    top:40px ;
    left:100px;

    

}.navbar2 a :visited{
    color: blueviolet;
}
.navbar2 a :hover{
    color: black;
}
.navbar2 a :active{
    color: red;
}